<h1>Select your categories here</h1>
<%= form_tag '/queue/personify', :name => 'idForm', :onsubmit => 'return validateId()' do %>

    <%= select('person', 'pref1', FoodCats.catlist) %><br/>
    <%= select('person', 'pref2', FoodCats.catlist) %><br/>
    <%= select('person', 'pref3', FoodCats.catlist) %><br/>
    <%= text_field(:person, :name, size: 20) %>
    <%= submit_tag %>

<% end %>


<script>
    function validateId() {
        var x = document.forms["idForm"]["person_name"].value;
        if (x == null || x == "") {
            alert("ID can't be blank");
            return false;
        }

        if (x.charAt(0) != '@'){
            alert("IDs start with @");
            return false;
        }
    }
</script>