<h1>Select your categories here</h1>
<%= form_tag '/queue/personify' do %>

    <%= select('person', 'pref1', FoodCats.catlist) %>
    <%= select('person', 'pref2', FoodCats.catlist) %>
    <%= select('person', 'pref3', FoodCats.catlist) %>
    <%= text_field(:person, :name, size: 20) %>
    <%= submit_tag %>

<% end %>